:root {
    --cor-0: #ffffff;
    --cor-1: #f7f7f7;
    --cor-2: #fdfdfd;
    --cor-3: #dedede;
    --cor-4: #cccccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;
    --cor-a1: #ffbb00;
    --cor-a2: #e4a30b;
    --cor-a3: #a66f00;
    --cor-a4: #664400;
    --cor-a5: #332200;
}

body {
    font-family: sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

h1 {
    font-size: 1.8em;
}

h1 {
    font-size: 1.4em;
}

h1 {
    font-size: 1.2em;
}

/* define a largura para a pagina inteira nos p's pois 
   caso definisse no boddy - que é o corrteto - a pági
   na ficaria estranha */
p {
    font-size: 1em;
    line-height: 1.5;
    width: 150ch;
    margin: 0 auto;
    padding: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--cor-a1);
}

abbr {
    text-decoration: none;
    color: var(--cor-a3);
    font-variant: small-caps;
}

footer,
header {
    background: var(--cor-12);
    color: var(--cor-a1);
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
}

.summary {
    text-align: center;
}

.preamble,
.participation,
.requirements {
    background: var(--cor-11);
    color: var(--cor-3);
}

.wrapper {
    width: 100ch;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.design-selection,
.design-archives,
.zen-resources {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

li + li {
    margin-top: 10px;
}