/* estilos T1 e T2 */

body {
    font-family: sans-serif;
    background: var(--cor-12);
}

h1 {
    font-size: 1.8em;
}

h1 {
    font-size: 1.4em;
}

h1 {
    font-size: 1.2em;
}

.summary p,
.main p {
    line-height: 1.5;
    text-align: center;
}